<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	{% if site.author.name %}
	<meta name="author" content="{{ site.author.name }}" />
	{% endif %}
	{% if site.metadata.description %}
	<meta name="description" content="{{ site.metadata.description }}">
	{% endif %}

	{% if page.taxonomy.tags %}
	<meta name="keywords" content="{% for tag in page.taxonomy.tags %}{{tag}},{% endfor %}" />
	{% else %}
	<meta name="keywords" content="{% for tag in config.themes.Sidewalk.tag %}{{tag}},{% endfor %}" />
	{% endif %}

	<!-- Twitter Card -->		
	<meta name="twitter:card" content="summary"  />
	{% if config.themes.Sidewalk.twitter_accoount %}
	<meta name="twitter:site" content="{{ config.themes.Sidewalk.twitter_account }}" />
	{% else %}
	<meta name="twitter:site" content="Not set" />
	{% endif%}
	{% if header.title %}
	<meta name="twitter:title" content="{{ header.title }} | {{ site.title }}" />
	{% else %}
	<meta name="twitter:title" content="{{ site.title }}" />
	{% endif %}
	{% if header.description %}}
	<meta name="twitter:description" content="{{ header.description }}" />
	{% else %}
	<meta name="twitter:description" content="{{ page.content |striptags| truncate(200) }}" />
	{% endif %}
	{% if header.image %}
	<meta name="twitter:image" content="{{ header.image }}" />
	{% else %}
	<meta name="twitter:image" content="{{ config.themes.Sidewalk.logo }}" />
	{% endif %}
	{% if page.header.link %}
	<meta name="twitter:url" content="{{ page.header.link }}" />
	{% else %}
	<meta name="twitter:url" content="{{ page.url(true) }}" />
	{% endif %}

	<!-- Open Graph -->
	{% if header.title %}
	<meta property="og:title" content="{{ header.title }}" />
	{% else %}
	<meta property="og:title" content="{{ site.title }}" />
	{% endif %}
	{% if base_url_absolute == '/' %}
	<meta property="og:type" content="website" />
	{% else %}
	<meta property="og:type" content="article" />
	{% endif %}
	{% if page.header.link %}
	<meta property="og:url" content="{{ page.header.link }}" />
	{% else %}
	<meta property="og:url" content="{{ page.url(true )}}" />
	{% endif %}
	{% if header.og_image %}
	<meta property="og:image" content="{{ header.og_image }}" />
	{% else %}
	<meta property="og:image" content="{{ config.themes.Sidewalk.logo }}" />
	{% endif %}

	{% if config.themes.Sidewalk.fb_admins %}
	<meta property="fb:admins" content="{{ config.themes.Sidewalk.fb_admins }}" />
	{% endif %}
	{% if config.themes.Sidewalk.robots %}
	<meta name="robots" content="{{ config.themes.Sidewalk.robots }}" />
	{% endif %}

	<meta name="application-name" content="{{site.title}}"/>
	<meta name="msapplication-TileColor" content="#000000"/>
	<meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed={{base_url_absolute}}/blog.atom&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed={{base_url_absolute}}/blog.atom&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed={{base_url_absolute}}/blog.atom&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed={{base_url_absolute}}/blog.atom&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed={{base_url_absolute}}/blog.atom&amp;id=5; cycle=1"/>

	<link rel="alternate" href="{{ base_url_absolute}}/blog.atom" title="{{ site.title }}" type="application/atom+xml"/>

	{% if config.themes.Sidewalk.logo  %}
	<link rel="icon" type="image/png" href="{{ config.themes.Sidewalk.logo }}" />
	{% endif %}

	<title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>
	{% block stylesheets %}
	{% do assets.addCss('//fonts.googleapis.com/css?family=Open+Sans:400', 200) %}
	{% do assets.addCss('//fonts.googleapis.com/css?family=Source+Code+Pro:400,600', 200) %}
	{% do assets.addCss('theme://css/screen.min.css', 200) %}
	{% endblock %}
	{% endblock %}

	{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body>
	<header id="page-header">
		<div id="masthead">
			<a href="{{ home_url }}"><h1 id="site-title">{{ site.title }}</h1></a>
			<p id="site-slogan">{{ site.metadata.description }}</p>
		</div>
	</header>
	<section id="content">
		{% block content %}{% endblock %}
	</section>
	<footer id="page-footer">
		<section>
			<nav id="footer-menu">
				<ul>
					{% for page in pages.children %}
					{% if page.visible %}
					<li>
						<a href="{{ page.url }}">{{ page.menu }}</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>

				{% if config.themes.Sidewalk.github_account %}
				<ul>
					<li>
						<a href="https://github.com/{{ config.themes.Sidewalk.github_account }}">GitHub</a>
					</li>
				</ul>
				{% endif %}
				{% if config.themes.Sidewalk.twitter_account %}
				<ul>
					<li>
						<a href="https://twitter.com/{{ config.themes.Sidewalk.twitter_account }}">Twitter</a>
					</li>
				</ul>
				{% endif %}
				{% if config.themes.Sidewalk.dribbble_account %}
				<ul>
					<li>
						<a href="https://dribbble.com/{{ config.themes.Sidewalk.dribbble_account }}">Dribbble</a>
					</li>
				</ul>
				{% endif %}
			</nav>
		</section>
		{% block javascript %}
		{% do assets.add('theme://js/jquery-2.1.1.min.js') %}
		{% do assets.add('theme://js/screen.js') %}
		{% endblock %}
	</footer>
</body>
</html>